[Unit]
Description=Create VLAN {{ item }}
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/sbin/ip link add link enabcm6e4ei0 name vlan{{ item }} type vlan id {{ item }} && /usr/sbin/ip link set dev vlan{{ item }} up && /usr/sbin/ip addr add 10.0{{ item }}.{{ host_ip_octet }}/24 dev vlan{{ item }}"
ExecStop=/bin/sh -c "/usr/sbin/ip link set dev vlan{{ item }} down && /usr/sbin/ip link del vlan{{ item }}"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target